body{
    border: 10px solid aquamarine;
    margin: 0;
    padding: 0;
    background-image: url(./backflower.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#head1
{   width: 280px;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
    color:green;
    background-color: black;
    border: 5px solid orangered;
    display: inline-block;
    padding: 50px 15px 50px;
    border-radius: 50px;
}
#head2
{   width: auto; 
    font-size:x-large ;
    color:green;
    background-color: black;
    border: 5px solid orangered;
    display: inline-block;
    padding: 30px 15px 30px;
    border-radius: 50px;
    margin-left: -50px;
    margin-right: 60px;
}
#head3
{
    font-size: x-large;
    color:green;
    background-color: black;
    border: 5px solid orangered;
    display: inline-block;
    padding: 25px 30px 5px 25px;
    border-radius: 50px;
}
#section1{ 
    width: 400px;
    height: 300px;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    border: 6px solid gray;
    border-radius: 50%;
    padding-top: 80px; 
    background-color: rgb(15, 119, 119);
    text-align:center ;
    margin-left: 0px;
    margin-right: 500px; 
    margin-top: 250px;
    display: inline-block;
    
}
#section2{
    width: 230px;
    height: 680px;
    border: dashed 7px red;
    color: rgb(240, 83, 83);
    margin-top: -550px;
    margin-left: 700px; 
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    display: inline-block;
    
}

.main{
    display: inline-block;
     text-align: center;
     
 }
 
#menu1{
    width: 250px;
    font-size: small;
    color: white;
    border: 3px solid rgb(1, 36, 1);
    background-color: rgb(13, 216, 216);
    display:inline-block;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25px 50px ;
    background-image: url(./starter.jpg);
    background-size: contain;
}
#menu2{
    width: 250px;
    font-size: small;
    color: white;
    border: 3px solid rgb(1, 36, 1);
    background-color: rgb(13, 216, 216);
    display:inline-block;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25px 50px ;
    background-image: url(./south\ indian.jpg);
}
#menu3{
    width: 250px;
    font-size: small;
    color: white;
    border: 3px solid rgb(1, 36, 1);
    background-color: rgb(13, 216, 216);
    display:inline-block;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25px 50px ;
    background-image: url(./indian.jpg);
}
#menu4{
    width: 250px;
    font-size: small;
    color: white;
    border: 3px solid rgb(1, 36, 1);
    background-color: rgb(13, 216, 216);
    display:inline-block;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25px 50px ;
    background-image: url(./rice.jpg);
}
#menu5{
    width: 250px;
    font-size: small;
    color: white;
    border: 3px solid rgb(1, 36, 1);
    background-color: rgb(13, 216, 216);
    display:inline-block;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25px 50px ;
    background-image: url(./tandori2.jpg);
    background-size: cover;
}
#menu6{
    width: 250px;
    font-size: small;
    color: whitesmoke;
    border: 3px solid rgb(1, 36, 1);
    background-color: rgb(13, 216, 216);
    display:inline-block;
    text-align: center;
    border-radius: 20px;
    margin: 0px 25px 50px ;
    background-image: url(./beverages.jpg);
    background-size: cover;

}
h4{font-size: x-large;}

.menu{
    width: 400px;
    color: green;
    background-color: black;
    border: 5px solid orangered;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 40px;
    border-radius: 50px;
}



